doctype html
html
  head
  title = content_for?(:title) ? yield(:title) : "Storied"
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = yield(:head)

  body
    - if flash[:error] 
      div#error = flash[:error]
    - if flash[:notice]
      div#notice = flash[:notice]

    h1.title Storied - the idea blender
    = yield
